.earnMore{
    background-color: #262626;
    padding-left: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 120px;
    color: #FFF;
    text-align: center;
}
.earnMore p{
    color: #F9F9F9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.18px;
    margin-top: 0px;
    margin-bottom: 47px;
}
.earnMore h1{
    margin-top: 0px;
    color: #FFF;
    font-family: Lora;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 47px;
}
.earnMore h1 span{
    background: linear-gradient(90deg, #ff1cee, #516aff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -50px;
}
.earn-more-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.earn-more-card01{
    width: 250px;
    height: 250px;
    background: linear-gradient(87deg, rgba(255, 28, 238, 0.1) -4.98%, rgba(81, 106, 255, 0.11) 91.73%);
    border: 2px solid rgba(81, 106, 255, 0.88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    font-size: 34px;
    font-weight: 600px;
}

.circle{ 
    background: linear-gradient(87deg, rgba(255, 28, 238, 0.86) -4.79%, rgba(81, 106, 255, 0.88) 91.73%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img{
    width: 60px;
    height: 60px;
}
.earn-more-card01 span{
    background: linear-gradient(86deg, rgba(255, 28, 238, 0.86) -4.79%, rgba(81, 106, 255, 0.88) 28.82%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-bottom: -30px; */
}

.rightarrow{
    width: 60px;
    height: 60px;
    display: flex;
    align-self: center;
}


@media (max-width: 768px) {
    .earnMore{
        padding-left: 16px;
        padding-right: 16px;
        height: auto;
    }
    .earn-more-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }        
    .earnMore h1 {
        font-size: 24px;
        margin-bottom: 16px;
    }
    /* .earn-more-card01 {
        height: 200px;
    } */
    .rightarrow{
        display: none;
    }
    .earnMore p {
        margin-bottom: 16px;
    }
    .circle {
        position: relative;
        margin-top: -100px;
    }
    .earn-more-cards {
        gap: 60px;
    }
}