.gstacking{
    background-color: #0F0F0F;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
padding-left: 120px;
padding-right: 120px;
padding-top: 147px;
padding-bottom: 40px;
text-align: center;
}

.g-left{
    width: 80%;
    margin: 0px auto;
margin-bottom: 100px;

}
.list-data{
    text-align: left;
}
.list-data-cont{
    margin-top: 100px;
    text-align: left;
}
.list-data-cont1{
    margin-top: 50px;
    text-align: left;
}
.list-data-cont h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.list-data-cont1 h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.list-data{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.list-data li{
    font-weight: 600;
}
.g-left h1{
    margin-top: 0px;
    margin-bottom: 32px;
    color: #FFF;
font-family: fontbold;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.5px;
}
.g-left h1 span{
    background: linear-gradient(86deg, rgba(255, 28, 238, 0.86) -4.79%, rgba(81, 106, 255, 0.88) 28.82%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin: 0px 10px;
}

.g-right{
    margin: 0px auto;
    width: 100%;
}
.g-left .detail-card{
    display: flex;
   gap: 30px;
}
.g-left .detail-card div{
    display: flex;
padding: 18px 18px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
border-radius: 7px;
background: #F24330;
}
.detail-card2 div{
display: flex;
padding: 28px 18px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
border-radius: 7px;
background: #F24330;
}

.g-left .detail-card div:hover{
    box-shadow: -9px 7px 5px 0px rgba(255, 167, 35, 0.24), 1px 1px 21px 0px rgba(255, 167, 35, 0.88) inset;
}
.detail-card2{
    display: none;
}

.g-left .secondp{
    margin-bottom: 42px;
    margin-top: 20px;
}

.g-left p{
    color: #F9F9F9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.18px;
}
.submit123{
    border-radius: 160px;
background: linear-gradient(90deg, #FF1CEE 0%, #516AFF 100%);
display: flex;
width: 300px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 8px;
margin: 0 auto;
margin-top: 100px;
margin-bottom: 100px;

}
@media (max-width: 768px) {
    .gstacking{
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 120px;
        padding-bottom: 24px;
        flex-direction: column;
        text-align: center;
    }
    .g-left{
        width: 100%;
        margin-right: 0px;
    }
    .g-right{
        width: 100%;
        margin-left: 0px;
    }
    .g-left .detail-card {
    gap: 15px;
}
.g-left h1 {
    font-size: 26px;
    margin-bottom: 24px;
}
.g-left .secondp{
    display: none;
}
.g-left .detail-card{
    display: none;
}
.detail-card2{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 40px;
    display: flex;
        justify-content: space-between;
}
.detail-card2 div{
    padding: 14px 12px;
}
.btn-know-more{
    background-color: #525252;
    border-radius: 22px;
    display: inline;
 padding: 12px 32px;
 color: #D8D8D8;
 text-align: center;
 font-family: Rubik;
 font-size: 18px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 2.835px;
 text-transform: uppercase;
 border: none;
 margin-top: 24px;
}
.detail-card2{
    gap: 0px;
}
.list-data-cont h3{
    font-size: 24px;
}
.list-data-cont1 h3 {
    font-size: 24px;
}
}