.stacking{
    padding: 40px 120px;
    background-color: #262626;
    color: #B2B2B2;
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: center;
}
.stacking h2{
    color: #FFF;
font-family: Lora;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 3px;
margin: 0px;
}
.stacking h2 span{
    background: linear-gradient(86deg, rgba(255, 28, 238, 0.86) -4.79%, rgba(81, 106, 255, 0.88) 28.82%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.stack-card{
    width: 100%;
    border-radius: 22px;
border: 1px solid rgba(81, 106, 255, 0.88);
background: #333;
display: flex;
}


.stack-card01{
width: 20%;
background: linear-gradient(87deg, rgba(255, 28, 238, 0.86) -4.79%, rgba(81, 106, 255, 0.88) 91.73%), #D9D9D9;
border-radius:22px 0px 0px 22px ;
color: #FFF;
padding: 24px 48px;
}
.stack-card01 h5{
    margin-bottom: 0px;
    margin-top: 0px;
    color: #E1E1E1;
font-family: Lora;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1px;
}
.stack-card01 h1{
margin-top: 0px;
margin-bottom: 0px;
font-family: Lora;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1px;
}
.right-card{
    border-radius:0px 22px 22px 0px ;
}
.stack-card02{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 24px 44px;
    row-gap: 10px;
}
.stack-card02 div {
    display: flex;
    justify-content: space-between;
}
.stack-card-details{
    display: flex;
    flex-direction: column;
}
.stack-card-details button{
   background-color: #525252;
   border-radius: 22.68px;
   display: flex;
padding: 12px 32px;
justify-content: center;
align-items: center;
gap: 9.45px;
color: #D8D8D8;
text-align: center;
font-family: Rubik;
font-size: 17.01px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.835px;
text-transform: uppercase;
border: none;
}
 .stack-card p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #B2B2B2;
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1px;
 }

 .stack-card-3{
    display: flex;
    flex-direction: column;
 }

 .stack-card-3 h5{
    background: linear-gradient(86deg, rgba(255, 28, 238, 0.86) -4.79%, rgba(81, 106, 255, 0.88) 28.82%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Rubik;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1px;
text-align: left;
margin-bottom: 10px;
margin-top: 0px;
 }
 .stack-card-details p:nth-of-type(2){
    color: #FFF;
font-family: Rubik;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1px;
 }

.progress-bar-container {
    background-color: #555;
    border-radius: 10px;
    overflow: hidden;
    height: 15px;
  }

.progress-bar {
    background: linear-gradient(87deg,  rgba(255, 28, 238, 0.86) -4.79%, rgba(81, 106, 255, 0.88) 91.73%), #D9D9D9;;
    height: 100%;
  }
  .stack-card02 span{
    text-align: left;
    font-size: 14px;
  }
.mobile-button{
    display: none;
}
.stack-card svg {
    width: auto;
}
.detail-card{
    display: flex;
   gap: 30px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.detail-card div{
    display: flex;
    width: 192px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 24px;
 background-color: #525252;;
/* background: var(--G, linear-gradient(93deg, #FF3232 41.16%, #FFA723 97.59%)); */
color: #D8D8D8;
}
.detail-card div:hover{
    background: var(--G, linear-gradient(93deg, rgba(255, 28, 238, 0.86) 41.16%, rgba(81, 106, 255, 0.88) 97.59%));

}
 
#dropdownMenuButton{
    font-size: 14px;
    padding: 0px;
}
.dropdown-toggle {
    border: none;
}
.detail-card div:hover{
    box-shadow: -9px 7px 5px 0px rgba(255, 167, 35, 0.24), 1px 1px 21px 0px rgba(255, 167, 35, 0.88) inset;
}
.dropdown-menu.show {
    background-color: rgba(81, 106, 255, 0.88);
}
.dropdown-menu.show .dropdown-item{
    color:#D8D8D8 ;
}

.dropdown-menu.show .dropdown-item:hover{
    background-color: rgba(81, 106, 255, 0.88);
}
.Reward-start{
    display: flex;
    flex-direction: column;
}
.stack-card-details2 input::placeholder {
    color: #D8D8D8;
    text-align: center; 
  }
  .stack-card-details2 input{
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(13.416085243225098px);
    border-radius: 24px;
    height: 43px;
  }
  .reward-btn button{
    background: rgba(255, 255, 255, 0.12);
    border-radius: 100px;
  }
  @media (max-width: 768px){
    .stacking{
        padding: 24px 50px;
        gap: 16px;
    }
    .stack-card {
        height: 100%;
        flex-direction: column;
    }
    .stack-card01{
        box-sizing: border-box;
        width: 100%;
        border-radius: 22px 22px 0px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 13px 16px;
        justify-content: space-between;
    }
    .stack-card svg{
        width:auto;
    }
    .card22{
        display: flex;
        flex-direction: column-reverse;
    }
    .stack-card02{
        padding: 16px;
        width: 100%;
    }
    .stack-card p {
        font-size: 16px;
    }
    .stack-card-details p:nth-of-type(2) {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .stack-card-3 div span:nth-of-type(2),.stack-card-3 div span:nth-of-type(3){
        display: none;
    }
    .stacking h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .stack-card01 img{
        width: 60px;
        height: 60px;
    }
    .stack-card01 h1 {
        font-size: 24px;
    }
.mobile-button{
    background-color: #525252;
    border-radius: 22px;
    display: flex;
 width: 189px;
   padding: 10px 26px;;
 justify-content: center;
 align-items: center;
 gap: 8px;
 color: #D8D8D8;
 text-align: center;
 font-family: Rubik;
 font-size:14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 2.835px;
 text-transform: uppercase;
 border: none;
 margin-top: 24px;
 align-self: center;

}
.stack-card02 .stack-card-details:nth-of-type(3){
display: none;
}
.stack-card02 span{
    font-size: 12px;
    margin-bottom: 0px;
  }
  .stack-card-3 h5 {
    font-size: 16px;
    margin-bottom: 0px;
  }
  .stack-card01 h5 {
    font-size: 16px;
  }
  .stack-card02 div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
    align-items: center;
  }
  .detail-card div {
    padding: 10px;
  }
  .detail-card {
    gap: 10px;
  }
  #dropdownMenuButton{
    font-size: 12px;
}
.stack-card-details2 input {
    margin-bottom: 10px;
    height: 35px;
    width: 212px;
}
.stack-card-details button {
    font-size: 12px;
    height: 35px;
}
.Reward-start {
 flex-direction: column;
}
.progress-bar-container {
    height: 8px;
}
}
  @media (max-width: 1356px){
    .stack-card01 {
        padding: 16px;
    }
  }
 